@font-face {
    font-family: candyFont;
    src: url(fonts/CANDY.otf);
}

.title{
    font-size: 100px;
}


.slot {
    width: 150px;
    height: 150px;
    margin: 0px;
    line-height: 150px;
    display: inline-block;
    font-size: 150px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
}

body {
    background-color: black;
    color: white;
    padding: 25px;
}


table{
    margin: 75px auto;
    padding: 0;
    border-collapse: collapse;
}

.score {
    text-align: center;
    font-size: 50px;
}

.active_player{
    border: 3px solid white;
    border-radius: 50px;
    margin: 0 25px 0 25px;
}

.active_size{
    border-radius: 50px;
    border: 3px solid white;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
}
