.banner {
    height: 250px;
    width: 100%;
    background-color: #4281A4;
    margin: 0;
    padding: 0;
}

.smWaffleGrid {
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    background-color: #EAD2AC;
}

.container {
    width: 80%;
    margin: 100px auto;
}

.slot {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: inline-block;
    background-color: rgb(211, 150, 90);
    font-size: 100px;
    text-align: center;
    line-height: 125px;
    vertical-align: top;
}

#gameboard {
    margin: 0 auto;
    width: 100%;
}

body {
    background-color: #9DA9A0;
}

.footer {
    height: 100px;
    width: 100%;
    background-color: #B26E63;
    margin: 0;
    padding: 0;
}

.tile_img {
    width: 50px;
    height: 50px;
}
