.easy {
	border:1px solid green;
	display:inline-block;
	padding:20px;
	margin:0 auto;
	background-color:rgb(248, 203, 165);
}
.slot {
	width:125px;
	height:125px;
	margin:5px;
	border:1px solid blue;
	display:inline-block;
	background-color:rgb(211, 150, 90);
}